.Ab{
    color: white;
    padding: 50px;
}
.info img{
     width: 400px;
    height: 350px;
    border-radius: 30px;
    box-shadow: 5px 5px 80px rgba(125, 10, 143, 0.703);
}
.know ul li{
    list-style-type: none;
}
.know p{
    font-size:larger;
    justify-content: space-between;
    
}
.info{
    display: flex;
  align-items: center;
  justify-content: space-between;
   padding: 80px 10px; 
}
.icon{
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    padding: 40px;
}
.icon img{
    width: 60px;
    height: 60px;
    
}
.icon div{
    width: 200px;
    height: 130px;
    padding: 30px 60px 40px 60px ;
    margin: 15px;
}
.icon div:hover{
        box-shadow: 5px 5px 35px rgb(234, 78, 255);
}
