.container {
  padding: 10px;
}

.img1 img{
    margin-top: 40px;
    width: 400px;
    height: 350px;
    border-radius: 30px;
    box-shadow: 5px 5px 50px deeppink;
}
.hi{
   display : flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 50px;
}
 .name{
     color: white;
  margin-bottom: 10px;
}
.second{
     display: flex;
  align-items: center;
  justify-content: space-between;
   padding: 80px 10px; 

}
.introduction{
    margin-top: 100px;
    color: white;
}
.introduction p{
    font-size: larger;

}
.profile img{
    margin-top: 70px;
    width: 350px;
    height: 250px;
    border-radius: 50%;
}
.profile img:hover{
    box-shadow: 5px 10px 80px rgba(255, 2, 242, 0.703);
}
.find{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}


