nav{
    position: fixed;
    top:0;
    left:0;

}
.custom-link {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}

/* underline hidden initially */
.custom-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 3px;
  background-color:rgb(54, 0, 101); 
  box-shadow: 5px 5px 20px rgb(134, 27, 228);
  transition: width 0.3s ease-in-out;
}

/* show underline on hover */
.custom-link:hover::after {
  width: 100%;
}
