body{
    background-image: url(./assets/image/background.jpg);
    background-size: cover;
}

nav{
    background-image: url(./assets/image/background.jpg);
    opacity: 0.5;
}
*{
    box-sizing: border-box;

    
}

@media screen and (max-width: 1000px) {

  .hi {
    flex-direction: column;
    text-align: center;
  }

  .second {
    flex-direction: column;
    text-align: justify;
  }

  .img1 img,
  .profile img {
    width: 450px;
    height: 350px;
    margin-top: 20px;
  }

}
@media screen and (max-width: 600px) {

  .hi {
    flex-direction: column;
    text-align: center;
  }

  .second {
    flex-direction: column;
    text-align: left;
  }

  .img1 img,
  .profile img {
    width: 80%;
    margin-top: 20px;
  }

}
@media screen and (max-width: 400px) {

  .hi {
    flex-direction: column;
    text-align: left;
  }

  .second {
    flex-direction: column;
    text-align: justify;
  }

  .img1 img,
  .profile img {
    width: 50%;
    margin-top: 20px;
  }

}
@media screen and (max-width: 1000px) {

  .info {
    flex-direction: column;
    text-align: left;
  }

  .skill {
    flex-direction: column;
    text-align: justify;
  }

  .img2 img,
  .icon img {
    width: 450px;
    height: 350px;
    margin-top: 20px;
  }

}

@media screen and (max-width: 600px) {

  .info {
    flex-direction: column;
    text-align:left;
  }

  .skill {
    flex-direction: column;
    text-align: justify;
  }

  .img2 img,
  .icon img {
    width: 450px;
    height: 350px;
    margin-top: 20px;
  }

}
@media screen and (max-width: 400px) {

  .info {
    flex-direction: column;
    text-align:left;
  }

  .skill {
    flex-direction: column;
    text-align: justify;
  }

  .img2 img,
  .icon img {
    width: 350px;
    height: 250px;
    margin-top: 20px;
  }

}
@media screen and (max-width: 1000px){
.view{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
.view div {
  width: 450px;
  height: 410px;

}

}
@media screen and (max-width: 600px){
.view{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
.view div {
  width: 350px;
  height: 400px;

}

}
@media screen and (max-width: 400px){
.view{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
.view div {
  width: 250px;
  height: 400px;

}

}